{% extends '::base.html.twig' %}

{% block content_header %}
Search by ingredients
{% endblock %}

{% block content %}
<form action="{{ path('recipe_search_by_ingredients') }}" method="post">
    <div id="search-criteria">
        <ol>
            <li class="placeholder">Drop some ingredients here</li>
        </ol>
    </div>
    <input type="submit" value="Search">
</form>
<script>
    $(document).ready(function() {
        $("#search-criteria ol").droppable({
            drop: function(event, ui) {
                $(this).find(".placeholder").remove();
                var li = $("<li></li>").text(ui.draggable.find(".ingredient-name").text());
                var input = $("<input type=\"hidden\" name=\"ingredients[]\">")
                                    .attr("value", ui.draggable.find(".ingredient-id").text());
                var remove = $("<button class=\"remove\"></button>").text("X")
                li.appendTo(this);
                input.appendTo(li);
                remove.appendTo(li);
                ui.draggable.css("display", "none");
            }
        });
        $(".remove").live("click", function() {
            var li = $(this).parent("li");
            var id = li.find("input").attr("value");
            $("#ingredients .ingredient-id:contains(" + id + ")").parent("tr").css("display", "block");
            if ($("#search-criteria li").length <= 1) {
                li.text("Drop some ingredients here").attr("class", "placeholder");
            } else {
                li.remove();
            }
        });
        
        $.post("{{ path('ingredient_list') }}", function (data) {
            var table = $("#ingredients table");
            $.each(data, function(i, item) {
                var tr = $("<tr></tr>").appendTo(table);
                var id = $("<td class=\"ingredient-id\" style=\"display:none\"></td>")
                            .text(item.id).appendTo(tr);
                var name = $("<td class=\"ingredient-name\"></td>")
                            .text(item.name).appendTo(tr);
            });
            $("#ingredients tr").draggable({
                appendTo: "body",
                helper: "clone"
            });
        }, 'json');
        
    });
</script>
<div id="ingredients">
    <table>
        
    </table>
</div>
    <table class="recipe-list">
        <tr>
            <th>{{ pagination.sortable('Id', 'r.id')|raw }}</th>
            <th {% if pagination.isSorted('r.Name') %} class="sorted" {% endif %}>
                {{ pagination.sortable('Name', 'r.name')|raw }}
                </th>
                <th>Creator</th>
                <th>Actions</th>
            </tr>
        {% for recipe in pagination %}
            <tr {% if loop.index is odd %} class="color" {% endif %}>
                <td>{{ recipe.id }}</td>
                <td>{{ recipe.name }}</td>
                <td>{{ recipe.creator.username }}</td>
                <td>
                    <a href="{{ path('recipe_show', { 'id': recipe.id }) }}">show</a>
                {% if recipe.creator == app.user %}
                    <a href="{{ path('recipe_edit', { 'id': recipe.id}) }}">edit</a>
                {% endif %}
                </td>
            </tr>
        {% endfor %}
        </table>
        <div id="navigation">
        {{ pagination.render()|raw }}
            </div>
{% endblock %}