{% extends '::base.html.twig' %}

{% block nav %}
    <ul>
        <li>
            <a href="{{ path('recipe') }}">Home</a>
        </li>
    </ul>
{% endblock %}

{% block content_header %}
    <h1>Search by ingredients</h1>
{% endblock %}
    
{% block content %}
    <form action="{{ path('recipe_search_by_ingredients') }}" method="get">
        <div id="search-criteria">
            <div class="left">
                <ul></ul>
            </div>
            <div class="right">
                <input type="submit" value="Search">
            </div>
        </div>
    </form>
    <script>
        function loadIngredientsJsonData(data) {
            var list = $("#ingredients ul");
            $.each(data, function(i, item) {
                var li = $("<li></li>").attr("data-id", item.id)
                                       .text(item.name)
                                       .appendTo(list);
            });
            $("#ingredients li").draggable({
                appendTo: "body",
                helper: "clone"
            });
        }
        
        $(document).ready(function() {
        
            $("#search-criteria ul").droppable({
                drop: function(event, ui) {
                    var li = $("<li></li>").text(ui.draggable.text());
                    var input = $("<input type=\"hidden\" name=\"ingredients[]\">")
                                        .attr("value", ui.draggable.data("id"));
                    var remove = $("<button class=\"remove\"></button>").text("X")
                    li.appendTo(this);
                    input.appendTo(li);
                    remove.appendTo(li);
                 ui.draggable.hide();
                }
            });
        
            $(".remove").live("click", function() {
                var li = $(this).parent("li");
                var id = li.find("input").attr("value");
                $("#ingredients li[data-id='" + id + "']").show();
                li.remove();
            });
        
            $.post("{{ path('ingredient_list') }}", function (data) {
                loadIngredientsJsonData(data)
            }, 'json');
            
            $('#ingredient-name-filter').change(function() {
                var value = $(this).attr("value");
                var path = "";
                if (value != ""){
                    path = "{{ path('ingredient_list_name_like') }}/" + value
                } else {
                    path = "{{ path('ingredient_list') }}"
                }
                $.post(path, function (data) {
                    $("#ingredients li").remove();
                    loadIngredientsJsonData(data)
                }, 'json');
            });
        
        });
    </script>
    <div style="width:100%;overflow: hidden;">
        <div class="right">
            <input id="ingredient-name-filter" type="text" name="name">
            <div id="ingredients">
                <ul>
                </ul>
            </div>
        </div>
        <div class="left">
            {% if pagination.count > 0 %}
                <table class="recipe-list">
                    <tr>
                        <th>{{ pagination.sortable('Id', 'r.id')|raw }}</th>
                        <th {% if pagination.isSorted('r.Name') %} class="sorted" {% endif %}>
                            {{ pagination.sortable('Name', 'r.name')|raw }}
                        </th>
                        <th>Creator</th>
                        <th>Actions</th>
                    </tr>
                    {% for recipe in pagination %}
                        <tr {% if loop.index is odd %} class="color" {% endif %}>
                            <td>{{ recipe.id }}</td>
                            <td>{{ recipe.name }}</td>
                            <td>{{ recipe.creator.username }}</td>
                            <td>
                                <a href="{{ path('recipe_show', { 'id': recipe.id }) }}">show</a>
                                {% if recipe.creator == app.user %}
                                    <a href="{{ path('recipe_edit', { 'id': recipe.id}) }}">edit</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                <div id="navigation">
                    {{ pagination.render()|raw }}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}